body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5568ba+0,54d1ab+100 */
  background: #5568ba; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #5568ba 0%, #54d1ab 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #5568ba 0%,#54d1ab 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #5568ba 0%,#54d1ab 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5568ba', endColorstr='#54d1ab',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.intro .title,
.intro .subtitle {
  color: #fff;
  font-weight: 100;
}

.intro .subtitle {
  color: rgba(255,255,255, 0.6);
}

.intro {
  margin-bottom: 30px;
}

.forecast {
  text-transform: uppercase;  
}

.box {
  color: #fff;
  background: rgba(0,0,0, 0.1);
}

.table {
  color: #fff;
  background: none;
}

.DayReport .title {
  color: #fff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 10px;
}

.table td {
  border: 0;
}

a.daySelect {
  color: #fff;
  display: block;
}

.ForecastDetails .attribute-name,
.ForecastDetails .attribute-value {
  font-size: 0.8em;

}

table.ForecastDetails.table tr td {
  padding: 0;
  color: rgba(255,255,255, 0.8);
}

.DayList > * {
  border-right: 2px solid rgba(255, 255, 255, 0.3);
}

.DayList > *:last-child {
  border-right: none;
}

.DayOverview {
  font-weight: 600;
}

.DayOverview .day-label {
  font-size: 0.9em;
}

.DayOverview .attribute-value {
  font-size: 1.2em;
}